<!DOCTYPE html>
<html lang="ru">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <main>
        <div class="container-fluid">
          {% include 'includes/header.html' %}
          {% block content %}
          {% endblock %}
        </div>
    </main>
    <script src="{% static 'js/jquery/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/apexcharts/apexcharts.js' %}"></script>
    <script src="{% static 'js/chart.js' %}"></script>
  </body>
</html> 